.App {
  text-align: center;
  color: #be315b;
}

.App-header {
  height: calc(100vh - 3vmin);
  width: calc(100vw - 3vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vmin;
  border: 4px solid #be315b;
}
