.HLWrap{
    display: block;
    font-weight: bold;
    font-size: 3vmin;
    position: absolute;
    top: 0vh;
    left: 2vw;
    background-color: white;
    padding-left: 2vmin;
    padding-right: 2vmin;
    line-height: normal;
}

#home{
    text-decoration: none;
}

#home:visited {
    text-decoration: none;
}

#home:hover{
    text-decoration: underline;
}
