#home{
    display: block;
    font-weight: bold;
    font-size: 3vmin;
    position: fixed;
    top: -1vmin;
    left: 3vw;
    background-color: white;
    padding: 5vmin 2vmin;
    line-height: normal;
}

#home:hover{
    cursor: pointer;
    top: 0;
}
