:root{
    --bColor: #202020;
    --arrowCol: #DCDCDC;

    --outlineHeight: 6vw;
    --outlineWidth: 6vw;

    --rectHeight: calc(var(--outlineHeight) * .30);
    --rectWidth: calc(var(--outlineWidth) * .30);
}

.buttonOutline{
    height: var(--outlineHeight);
    width: var(--outlineWidth);
    border-radius: 50%;

    position: fixed;
    top: calc(var(--outlineHeight) / -2);
    left: calc(50vw - (var(--outlineWidth) / 2));

    background-color: var(--bColor);

    overflow: hidden;

    z-index: 999;

    /* To set to center */
    /* top: calc(50vh - (var(--outlineHeight) / 2));
    left: calc(50vw - (var(--outlineWidth) / 2)); */

    /* To set to bottom */
    /* left: calc(50vw - (var(--outlineWidth) / 2));
    bottom: calc(var(--outlineHeight) / -2); */
}

.buttonOutline:hover{
    --rectHeight: calc(var(--outlineHeight) * .4);
    --rectWidth: calc(var(--outlineWidth) * .4);

    /* --outlineHeight: 12vw;
    --outlineWidth: 12vw; */

    cursor: pointer;
}

.upArrowOutter{
    background-color: var(--arrowCol);

    height: var(--rectHeight);
    width: var(--rectWidth);

    position: absolute;
    left: calc(50% - (var(--rectWidth) / 2));
    top: calc((var(--outlineHeight) * .2));

    transform: rotate(45deg);

    transition: all .75s;
}

.upArrowInner{
    background-color: var(--bColor);

    height: var(--rectHeight);
    width: var(--rectWidth);

    position: relative;
    top: calc((var(--rectHeight) * .25));
    left: calc((var(--rectHeight) * .25));

    transition: all .75s;
}

.downArrowOutter{
    background-color: var(--arrowCol);

    height: var(--rectHeight);
    width: var(--rectWidth);

    position: absolute;
    left: calc(50% - (var(--rectWidth) / 2));
    bottom: calc((var(--outlineHeight) * .2));

    transform: rotate(45deg);

    transition: all .75s;
}

.downArrowInner{
    background-color: var(--bColor);

    height: var(--rectHeight);
    width: var(--rectWidth);

    position: relative;
    top: calc(-1 * (var(--rectHeight) * .25));
    left: calc(-1 * (var(--rectHeight) * .25));

    transition: all .75s;
}
